**/*.ts
!**/*.d.ts
.git/
test/
hooks/
.circleci/
lib/tsconfig.json
.mocharc.yml
.prettierrc
lib/tslint.json
addDevTag
addReleaseTag
frontendDriverInterfaceSupported.json
coreDriverInterfaceSupported.json
.github/
.gitattributes