**/*.ts
!**/*.d.ts
.git/
test/
hooks/
.circleci/
tsconfig.json
tsup.config.json
.mocharc.yml
.prettierrc
lib/tslint.json
addDevTag
addReleaseTag
frontendDriverInterfaceSupported.json
coreDriverInterfaceSupported.json
.github/
.gitattributes
examples/
add-ts-no-check.cjs
docs/
.prettierignore
updateLibInExample
testExports.sh
