version: 2.1

orbs:
    continuation: circleci/continuation@0.1.2
    slack: circleci/slack@3.4.2
    jq: circleci/jq@2.2.0
jobs:
    test-dev-tag-as-not-passed:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing_node_20
        steps:
            - checkout
            - run: (cd .circleci/ && ./markDevTagAsTestNotPassed.sh)
    test-unit:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing_node_20
        resource_class: large
        parameters:
            cdi-version:
                type: string
        parallelism: 4
        steps:
            - checkout
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: apt-get install lsof
            - run: npm i -d --force
            - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
            - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
            - run: (cd .circleci/ && ./doUnitTests.sh << parameters.cdi-version >>)
            - slack/status
    test-website:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing_node_20
        resource_class: large
        parallelism: 4
        steps:
            - checkout
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: apt-get install lsof
            - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
            - run: npm i -d --force
            - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
            - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
            - run: (cd .circleci/ && ./website.sh)
            - slack/status
    test-authreact:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing_node_20
        resource_class: large
        parallelism: 4
        steps:
            - checkout
            - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
            - run: apt-get install lsof
            - run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
            - run: npm i -d --force
            - run: update-alternatives --install "/usr/bin/java" "java" "/usr/java/jdk-15.0.1/bin/java" 2
            - run: update-alternatives --install "/usr/bin/javac" "javac" "/usr/java/jdk-15.0.1/bin/javac" 2
            - run: (cd .circleci/ && ./authReact.sh)
            - store_artifacts:
                  path: test_report/backend.log
                  destination: logs
            - slack/status
    test-success:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing_node_20
        steps:
            - checkout
            - run: (cd .circleci/ && ./markAsSuccess.sh)
            - slack/status

workflows:
    version: 2
    tagged-build:
        jobs:
            - test-dev-tag-as-not-passed:
                  filters:
                      tags:
                          only: /dev-v[0-9]+(\.[0-9]+)*/
                      branches:
                          only: /test-cicd\/.*/
            - test-unit:
                  requires:
                      - test-dev-tag-as-not-passed
                  context:
                      - slack-notification
                  filters:
                      tags:
                          only: /dev-v[0-9]+(\.[0-9]+)*/
                      branches:
                          only: /test-cicd\/.*/
                  matrix:
                      parameters:
                          cdi-version: placeholder
            - test-website:
                  requires:
                      - test-dev-tag-as-not-passed
                  context:
                      - slack-notification
                  filters:
                      tags:
                          only: /dev-v[0-9]+(\.[0-9]+)*/
                      branches:
                          only: /test-cicd\/.*/
            - test-authreact:
                  requires:
                      - test-dev-tag-as-not-passed
                  context:
                      - slack-notification
                  filters:
                      tags:
                          only: /dev-v[0-9]+(\.[0-9]+)*/
                      branches:
                          only: /test-cicd\/.*/
            - test-success:
                  requires:
                      - test-unit
                      - test-website
                      - test-authreact
                  context:
                      - slack-notification
                  filters:
                      tags:
                          only: /dev-v[0-9]+(\.[0-9]+)*/
                      branches:
                          ignore: /.*/
