version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
    continuation: circleci/continuation@0.1.2
    slack: circleci/slack@3.4.2
    jq: circleci/jq@2.2.0
jobs:
    publish:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing
        steps:
            - checkout
            - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
            - run:
                  name: Publish
                  command: |
                      cd .circleci
                      ./publish.sh
            - slack/status
    update-docs:
        docker:
            - image: rishabhpoddar/supertokens_website_sdk_testing
        steps:
            - checkout
            - run: cd ../ && git clone git@github.com:supertokens/supertokens-backend-website.git
            - run: (cd .circleci && ./updateDocsInWebsite.sh)
            - slack/status
    setup:
        machine:
            image: ubuntu-1604:201903-01
        steps:
            - checkout
            - run:
                  name: Generate config
                  command: |
                      cd .circleci && ./generateConfig.sh
            - continuation/continue:
                  configuration_path: .circleci/config_continue.yml # use newly generated config to continue

workflows:
    version: 2
    tagged-build:
        jobs:
            - publish:
                  context:
                      - slack-notification
                  filters:
                      tags:
                          only: /v[0-9]+(\.[0-9]+)*/
                      branches:
                          ignore: /.*/
            - setup:
                  filters:
                      branches:
                          only: cicd-unit-test-parallel
            - update-docs:
                  context:
                      - slack-notification
                  filters:
                      branches:
                          only:
                              - master
