name: Auth-React Tests - L1

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
    push:
        tags:
            - dev-v[0-9]+.[0-9]+.[0-9]+

# Only one instance of this workflow will run on the same ref (PR/Branch/Tag)
# Previous runs will be cancelled.
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    define-versions:
        runs-on: ubuntu-latest
        outputs:
            fdiVersions: ${{ steps.versions.outputs.fdiVersions }}
            cdiVersions: ${{ steps.versions.outputs.cdiVersions }}
            nodeVersions: '["20"]'
        steps:
            - uses: actions/checkout@v4
            - uses: supertokens/get-supported-versions-action@main
              id: versions
              with:
                  has-fdi: true
                  has-cdi: true

    setup-auth-react:
        runs-on: ubuntu-latest
        needs: define-versions
        strategy:
            fail-fast: false
            matrix:
                fdi-version: ${{ fromJSON(needs.define-versions.outputs.fdiVersions) }}

        outputs:
            AUTH_REACT__LOG_DIR: ${{ steps.envs.outputs.AUTH_REACT__LOG_DIR }}
            AUTH_REACT__SCREENSHOT_DIR: ${{ steps.envs.outputs.AUTH_REACT__SCREENSHOT_DIR }}
            AUTH_REACT__APP_SERVER: ${{ steps.envs.outputs.AUTH_REACT__APP_SERVER }}
            AUTH_REACT__NODE_PORT: ${{ steps.envs.outputs.AUTH_REACT__NODE_PORT }}
            AUTH_REACT__TEST_MODE: ${{ steps.envs.outputs.AUTH_REACT__TEST_MODE }}
            AUTH_REACT__PORT: ${{ steps.envs.outputs.AUTH_REACT__PORT }}
            specs: ${{ steps.envs.outputs.specs }}
            matrix: ${{ steps.setup-matrix.outputs.matrix }}

        steps:
            - uses: supertokens/get-versions-action@main
              id: versions
              with:
                  driver-name: node
                  fdi-version: ${{ matrix.fdi-version }}
              env:
                  SUPERTOKENS_API_KEY: ${{ secrets.SUPERTOKENS_API_KEY }}

            - uses: supertokens/auth-react-testing-action/setup@main
              id: envs
              with:
                  auth-react-version: ${{ steps.versions.outputs.authReactVersionXy }}
                  node-sdk-version: ${{ steps.versions.outputs.nodeTag }}
                  fdi-version: ${{ matrix.fdi-version }}

            - id: setup-matrix
              uses: supertokens/extended-matrix-action@main
              with:
                  artifact-id: ${{ matrix.fdi-version }}
                  matrix: |
                      node-version: ${{ needs.define-versions.outputs.nodeVersions }}
                      spec: ${{ steps.envs.outputs.specs }}

    launch-fdi-workflows:
        uses: ./.github/workflows/auth-react-test-2.yml
        needs:
            - define-versions
            - setup-auth-react
        strategy:
            max-parallel: 1 # This is important to avoid ddos GHA API
            fail-fast: false # Don't fail fast to avoid locking TF State
            matrix:
                fdi-version: ${{ fromJSON(needs.define-versions.outputs.fdiVersions) }}
        name: FDI ${{ matrix.fdi-version }}
        with:
            artifact-id: ${{ matrix.fdi-version }}
            AUTH_REACT__LOG_DIR: ${{ needs.setup-auth-react.outputs.AUTH_REACT__LOG_DIR }}
            AUTH_REACT__SCREENSHOT_DIR: ${{ needs.setup-auth-react.outputs.AUTH_REACT__SCREENSHOT_DIR }}
            AUTH_REACT__APP_SERVER: ${{ needs.setup-auth-react.outputs.AUTH_REACT__APP_SERVER }}
            AUTH_REACT__NODE_PORT: ${{ needs.setup-auth-react.outputs.AUTH_REACT__NODE_PORT }}
            AUTH_REACT__TEST_MODE: ${{ needs.setup-auth-react.outputs.AUTH_REACT__TEST_MODE }}
            AUTH_REACT__PORT: ${{ needs.setup-auth-react.outputs.AUTH_REACT__PORT }}
