name: "Backend SDK Tests"

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - labeled
            - unlabeled
    push:
        branches:
            - "[0-9]+.[0-9]+"

# Only one instance of this workflow will run on the same ref (PR/Branch/Tag)
# Previous runs will be cancelled.
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    define-versions:
        if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'run-tests')
        runs-on: ubuntu-latest
        outputs:
            fdiVersions: ${{ steps.versions.outputs.fdiVersions }}
            cdiVersions: ${{ steps.versions.outputs.cdiVersions }}
            nodeVersions: '["20"]'
            coreCdiVersionMap: ${{ steps.core-versions.outputs.cdiVersions }}
        steps:
            - uses: actions/checkout@v4
            - uses: supertokens/get-supported-versions-action@main
              id: versions
              with:
                  has-fdi: true
                  has-cdi: true

            - uses: supertokens/actions/get-versions-from-repo@main
              id: core-versions
              with:
                  repo: supertokens-core
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  cdi-versions: ${{steps.versions.outputs.cdiVersions }}

    test:
        if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'run-tests')
        runs-on: ubuntu-latest
        needs: define-versions

        strategy:
            fail-fast: false
            matrix:
                cdi-version: ${{ fromJSON(needs.define-versions.outputs.cdiVersions) }}
                fdi-version: ${{ fromJSON(needs.define-versions.outputs.fdiVersions) }}
                node-version: ${{ fromJson(needs.define-versions.outputs.nodeVersions) }}

        env:
            API_PORT: 3030
            SUPERTOKENS_CORE_PORT: 3567
            SUPERTOKENS_CORE_HOST: localhost

        steps:
            - uses: actions/checkout@v4
              with:
                  # Checking out to a custom path since the test repo will also be cloned
                  path: supertokens-node

            - name: Get core version from current CDI version
              id: core-version
              run: |
                  coreVersion=$(echo '${{ needs.define-versions.outputs.coreCdiVersionMap }}' | jq -r '.["${{ matrix.cdi-version }}"]')

                  echo "coreVersion=${coreVersion}" >> $GITHUB_OUTPUT

            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Start core
              working-directory: supertokens-node
              run: docker compose up --build --wait
              env:
                  SUPERTOKENS_CORE_VERSION: ${{ steps.core-version.outputs.coreVersion }}

            - name: Install SDK dependencies
              working-directory: supertokens-node
              run: npm install

            - name: Start test server
              working-directory: supertokens-node/test/test-server
              env:
                  SUPERTOKENS_ENV: testing
              run: |
                  npm install
                  npm start &

            - uses: supertokens/backend-sdk-testing-action@main
              with:
                  version: ${{ matrix.fdi-version }}
                  check-name-suffix: "[CDI=${{ matrix.cdi-version }}][Core=${{ steps.versions.outputs.coreVersionXy }}][FDI=${{ matrix.fdi-version }}][Node=${{ matrix.node-version }}]"
                  path: backend-sdk-testing
